body {
    background-image: url('../../public/gifbackground.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    margin-top: -10px;
    margin-bottom: -35px;
}
 
.smiley {
    display: inline;
}
@media (max-width: 1500px) {
    .smiley {
      display: none;
    }
}

main {
    text-align: center;
    display: block;
    margin-bottom: 2%;
}

.marginLeftGif {
    margin-left: 75px;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 100px;
    padding: 1%;
    background-color: rgb(240, 99, 169, 0.5);
    border: 2px solid black;
    text-align: center;
}
