---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <style>
      @import "../styles/styles.css";
    </style>
    <title>GIF Museum</title>
  </head>
  <body>
    <main>
      <img
        id="title"
        src="https://media.giphy.com/media/3dnteQWC4n8X7j9P7W/giphy.gif"
        alt="Walking GIF"
      />
      <br />
      <img
        src="https://media.giphy.com/media/cilCAmB6IhIzyNF5az/giphy.gif"
        alt="Walking GIF"
      />
      <img
        src="https://media.giphy.com/media/jV92wYybfn5GjokWEW/giphy.gif"
        alt="Walking GIF"
      />
      <img
        src="https://media.giphy.com/media/EeHdyLZ4GpMMGXniN5/giphy.gif"
        alt="Walking GIF"
      />
      <img
        src="https://media.giphy.com/media/UknP3JxgsUQsAnvc4U/giphy.gif"
        alt="Walking GIF"
      />
      <img
        src="https://media.giphy.com/media/5cQUkgvi2grIFhJZr0/giphy.gif"
        alt="Walking GIF"
      />
      <img
        src="https://media4.giphy.com/media/kJ0z80cY6c1OLarl6g/giphy.gif"
        alt="Walking GIF"
      />
      <img
        id="grossMargin"
        src="https://media.giphy.com/media/eB5G10hLSQ5C2Ju5Z6/giphy.gif"
        alt="Walking GIF"
      />
      <img
        src="https://media.giphy.com/media/J2o1gCaLE5vWIhJgb6/giphy.gif"
        alt="Walking GIF"
      />
      <img
        src="https://media.giphy.com/media/nArgx8vMYpqupAQy75/giphy.gif"
        alt="Walking GIF"
      />
    </main>
  </body>
</html>
