---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cody</title>
  </head>
  <body>
    <h1>Cody Large</h1>
    <img
      src="https://media.giphy.com/media/5cQUkgvi2grIFhJZr0/giphy.gif"
      alt="Walking GIF"
    />
    <img
      src="https://media4.giphy.com/media/kJ0z80cY6c1OLarl6g/giphy.gif"
      alt="Walking GIF"
    />
  </body>
</html>
