---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <style>
      @import "../styles/styles.css";
    </style>
    <title>GIF Museum</title>
  </head>
  <body>
    <main>
      <h1>
        <img
          class="smiley"
          src="https://media.giphy.com/media/Yqn91wqkLqGigioRMV/giphy.gif"
          alt="Spinning Smiley Face"
        />
        <img
          src="https://media.giphy.com/media/Dceuofk5Qj0iff3OeR/giphy.gif"
          alt="Title"
        />
        <img
          class="smiley"
          src="https://media.giphy.com/media/Yqn91wqkLqGigioRMV/giphy.gif"
          alt="Spinning Smiley Face"
        />
      </h1>
      <div id="image-container"></div>
    </main>
    <footer>
      All GIFs belong to <a href="https://giphy.com/deladeso" target="_blank"
        >@deladeso</a
      > on giphy.com
    </footer>
    <script>
      import "../scripts/generateImages.js";
    </script>
  </body>
</html>
